---
import BubbleLink from "./BubbleLink.astro";
interface Props {
    data: {
        title: string;
        description: string;
        webLink: string;
        githubLink: string;
        src: string;
        alt: string;
    };
}
const { data } = Astro.props;
---

<article class="relative aspect-video group">
    <div
        class="bg-gradient-to-br from-yellow-200 via-red-400 to-indigo-400 absolute w-full h-full blur-sm"
    >
    </div>
    <div class="relative w-full h-full rounded-md overflow-hidden">
        <img
            class="absolute h-full w-full object-cover group-hover:scale-[1.1] group-hover:blur-sm duration-300 transition-transform"
            src={data.src}
            alt={data.alt}
        />
        <div
            class="bg-gradient-to-t from-black absolute inset-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
        </div>
        <div
            class="absolute p-4 opacity-0 inset-0 flex flex-col justify-end -translate-x-2 translate-y-2 group-hover:translate-x-0 group-hover:translate-y-0 group-hover:opacity-100 transition-[transform_opacity] duration-300"
        >
            <h2 class="text-xl mb-2">{data.title}</h2>
            <p class="text-sm font-light">
                {data.description}
            </p>
        </div>
        <div
            class="absolute p-4 opacity-0 inset-0 flex items-start justify-end translate-x-2 gap-4 -translate-y-2 group-hover:translate-x-0 group-hover:translate-y-0 group-hover:opacity-100 transition-[transform_opacity] duration-300"
        >
            <BubbleLink href={data.webLink}>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </BubbleLink>
            <BubbleLink href={data.githubLink}>
                <i class="fa-brands fa-github-alt"></i>
            </BubbleLink>
        </div>
    </div>
</article>
